<h1>Display your Pirate here</h1>

  <h2> <%= @pirate.name %> </h2>
  <h2> <%= @pirate.weight %> </h2>
  <h2> <%= @pirate.height %> </h2>



<h2>Display your first ships here</h2>

  <h3> <%= @pirate.ships[0].name %> </h3>
  <h3> <%= @pirate.ships[0].type %> </h3>
  <h3> <%= @pirate.ships[0].booty %> </h3>



<h2>Display your second ships here</h2>

  <h3> <%= @pirate.ships[1].name %> </h3>
  <h3> <%= @pirate.ships[1].type %> </h3>
  <h3> <%= @pirate.ships[1].booty %> </h3>
